@use 'base/variables' as v;
@use 'base/mixins' as m;
.navegacion{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    @include m.tablet { 
        flex-direction: row;
    }
    &__link{
        font-size: 2.4rem;
        &:hover{
            color: v.$primario;
            font-weight: 700;
        }
    }
}